* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftside {
    background-color: rgb(66, 103, 178);
    width: 47.5vw;
    float: left;
    height: 95vh;
    margin: 10px;
    border-radius: 7.5px;
}

.leftside .heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    padding-top: 80px;
}

.leftside .subheading {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.rightside {
    background-color: white;
    width: 47.5vw;
    float: left;
    height: 95vh;
    margin: 10px;
    border-radius: 7.5px;
    /* display: flex; */
    justify-content: center;
    min-height: auto;
    transition: 0.5s;
    outline: none;
    align-items: center;
    position: relative;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.rightside .outer {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.switch {
    position: absolute;
    right: 10px;
    display: flex;
    border-bottom: 1px solid #fe0066;

}

.student {
    padding: 5px 12px;
    background: linear-gradient(45deg, #00d5fc, #046af6);
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.club {
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.rightside .studentlogin {
    position: absolute;

}

.outer #form {
    width: 200%;
    position: relative;
    display: flex;
    margin: auto;
    transition: 0.2s ease-in-out;
}

#page {
    margin: auto;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.element input {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background: #2a2a2a;
    /* background: white; */
    border: 1px solid #f5f4f4;
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}

input::placeholder {
    color: #d4cdcd;
    font-size: 20px;
}

#btn {
    padding: 5px 25px;
    background: linear-gradient(45deg, #0326f9, #01fcf9);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

#btn:active {
    transform: scale(1.01);
}

.switch:after {
    content: '';
    height: 6px;
    width: 60px;
    background: #fe0066;
    border-radius: 60px 60px 0 0;
    position: absolute;
    bottom: 0;
    left: 8px;
}

.switch.active:after {
    left: 82px;
    width: 70px;
    background: #12ff00;
}

.switch.active {
    border-bottom: 1px solid #12ff00;
}

.rightside .switch {
    font-family: Arial, Helvetica, sans-serif;
}